body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  background-color: black;
}

.left-section{
  width: 10%; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-section {
  width: 8%; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-section {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden; 
  scroll-behavior: smooth; 
}

.center-section::-webkit-scrollbar {
  display: none; 
}

.center-section {
  scrollbar-width: none; 
}

.button {
  background-color: rgba(107, 114, 128, 0.5);
  border: none;
  border-radius: 30px;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  width:100px;
}
.button-big {
  background-color:rgba(255, 140, 0, 1);
  border: none;
  border-radius: 30px;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  width:150px;
}

.button:hover {
  background-color: rgba(107, 114, 128, 0.7);
}

.navbar {
  width: 97%;
  background-color: rgba(107, 114, 128, 0.5);
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
}

.nav-item {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #f3f4f6; 
}

.container-box-center {
  background-color: rgba(107, 114, 128, 0.5);
  margin: 10px 0;
  padding: 20px;
  border-radius: 10px;
  height: 90vh; 
}

.transparent-dashboard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  overflow-y: auto;
}

.dashboard-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between rows and boxes */
  justify-content: center; /* Center the boxes horizontally */
  max-width: 1200px;
  margin: 0 auto;
}

.dashboard-news-box {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  width: 30%; /* Set box width to approximately one-third of the row */
  cursor: pointer;
  transition: transform 0.2s;
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.dashboard-news-box:hover {
  transform: scale(1.05);
}

.news-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

/* Cross sign button for closing the dashboard */
.close-dashboard-cross {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.close-dashboard-cross:hover {
  transform: scale(1.1);
}

.close-dashboard {
  background-color: rgba(255, 69, 0, 1);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
